SECRET_KEYS=
DEBUG=True
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_HOST=
DJANGO_LOGLEVEL=info
DJANGO_SETTINGS_MODULE=dukka_ecommerce.settings
############### Flutterwave Test Sandbox Values ################

#this was kept for reference purpose solely
FLW_PUBLIC_KEY=FLWPUBK_TEST-a261fa69614297c57d498a089b1031f1-X
FLW_SECRET_KEY=FLWSECK_TEST-39d0c29e4a88105454ee1e6f4eb94736-X
FLW__ENCRYPTION_KEY=FLWSECK_TEST32d3367b36e6

CARD_NUMBER=5531886652142950
CVV=546
EXPIRY_MONTH=09
EXPIRY_YEAR=23
CURRENCY=NGN
EMAIL=test@test.com
AMOUNT=50
PIN=3310
FULLNAME=TestUser
OTP=5656
WAVE_BASE_URL=https://api.flutterwave.com/v3

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
